<div class="create-form-container">
   <div class="create-form-box">
        <header>
            <h4>Add a new job</h4>
        </header>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput class="inputs" placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput class="inputs" placeholder="Description"></textarea>
        </mat-form-field>
        <button mat-Basic-button color="accent">Add</button> 
   </div>
</div>
