<mat-list>
   <mat-list-item *ngFor="let list of lists; let id = index;" (click)="openList(id , list.title)">
    <a [routerLink]="[['/list'] , id]">
        <p>{{list.title}}</p>
        <p *ngIf="id !== 0">
            <button class="edit-btn" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button class="delete-btn" (click)="deleteList(id)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </p>
    </a>
    </mat-list-item>
</mat-list>

