
.mat-list-item{
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    width: 90% !important;
    cursor: pointer;
}
.mat-list-item a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    text-decoration: none;
    color: white;
}
.list-edit-input{
    display: none;
    border: .5px solid #6D07CB;
    border-radius: 10px;
    margin: 0;
    padding:10px;
    outline: none;
}
.buttons-section{
    display: flex;
}
.edit-btn{
    margin-left: 0px;
    color: wheat;
}
.edit-options-buttons{
    display: flex;
}
.delete-btn{
    margin-left: 20px;
}
.mat-list-item p{
    width: 90%;
}