.todos-container{
    width: 100%;
}
.add-btn{
    background-color: #6D07CB;
    color: white;
}
.mat-list-item{
    border-bottom: 3px solid #6D07CB;
    width: 100%;
    margin-bottom: 15px;
}
.todos-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.todos-number{
    margin-right: 15px;
}
.todos-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.todos-info span{
    display: flex;
    align-items: center;
}
.todos-info span p{
    margin: 0 0 0 5px;
}
.todos-edit-input{
    margin: 0 0 0 5px;
    border: .5px solid #6D07CB;
    border-radius: 10px;
    padding:5px;
    outline: none;
    display: none;
}
.todos-buttons{
    display: flex !important;
    margin-right: 15px;
}
.done-btn{
    margin:0 10px 0 0;
    color: green;
}
.edit-btn{
    margin:0 10px 0 0;
}
.remove-btn{
    
}