<!-- <button routerLink="/create-todo" class="add-btn" mat-raised-button>Add Todo</button> -->
    <mat-list>
        <mat-list-item *ngFor="let todo of todos; let id = index ;" (click) = "toggleDone(id)" class="mat-list-item">
            <div class="todos-container">
                <div class="todos-info">
                    <span>
                        <em class="todos-number">{{ id+1 }}</em>
                        <strong >Title:</strong>
                        <p id="title-{{id}}" >{{ todo.content}}</p>
                        <input id="title-{{id}}-input"
                                class="todos-edit-input"
                                value="{{todo.content}}"
                                (keydown.enter) = "editTodo(id)"
                        />
                    </span>
                    <span>
                        <strong>Description:</strong>
                        <p id="description-{{id}}">{{ todo.description}}</p>
                        <input id="description-{{id}}-input" 
                                class="todos-edit-input"
                                value="{{ todo.description}}"
                                (keydown.enter) = "editTodo(id)"
                        />
                    </span>
                    <span>
                        <strong>Date:</strong>
                        <p id="date-{{id}}">{{ todo.date}}</p>
                        <input id="date-{{id}}-input" 
                                class="todos-edit-input"
                                value="{{ todo.date}}"
                                (keydown.enter) = "editTodo(id)"
                        />
                    </span>
                </div>
                <div class="todos-buttons">
                    <button 
                        *ngIf="todo.isMain == false" 
                        class="edit-btn" 
                        (click) ="moveToDailyList(todo)" 
                        mat-icon-button
                        matTooltip="Move task to daily list" matTooltipPosition = left>
                        <mat-icon>transit_enterexit</mat-icon>
                    </button>
                    <button 
                        class="done-btn" 
                        mat-icon-button
                        matTooltip="Mark as done" matTooltipPosition = left>
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button 
                        *ngIf="listID !== 1" 
                        class="edit-btn" 
                        mat-icon-button 
                        (click) = "editTodo(id)"
                        matTooltip="Edit task" matTooltipPosition = left>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                        class="remove-btn" 
                        (click) = "deleteTodo(id)" 
                        mat-icon-button 
                        color="warn"
                        matTooltip="Delete task" matTooltipPosition = left>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
