.main-page-container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-header{
    width: 100%;
    background-image: url(../../images/back.jpg);
    background-color: rgba(0, 0, 0, .6);
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}
.app-create-todo{
    width: 100%;
}
.app-todos{
    width: 100%;
}