<div class="create-form-container">
    <h3 class="title">Add a new task to {{listName}}:</h3>
        <div class="input-field-container">
            <mat-form-field>
                <mat-label>Enter Title...</mat-label>
                <input matInput
                    type="text"
                    name="contentInput"
                    [(ngModel)] = "contentInput"
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter Description...</mat-label>
                <input matInput
                    type="text"
                    name="descriptionInput"
                    [(ngModel)] = "descriptionInput"
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field >
                <mat-label>Choose a date</mat-label>
               <input matInput [matDatepicker]="picker" [(ngModel)] = "dateInput"> 
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="add-btn" (click)="addTodo()" mat-fab color="Basic">Add</button>
        </div>
</div>
