.create-form-container{
    width:95%;
    display: flex;
    flex-direction: row;
    color: black;
    padding: 15px  ;
    margin-bottom: 20px;
}
.title{
    width: fit-content;
    font-weight: bold;
    color: #210838;
    text-align: left;
    margin-right: 30px;
}
.input-field-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
}
.create-form-box{
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.inputs{
    border-bottom:.5px solid white !important;
    background-color: transparent;
    border:none;
    color: white !important;
    resize: none;
    outline: none;
}
.inputs::placeholder{
    color: white;
}
.add-btn{
    color: #210838;
}
@media only screen and (max-width: 880px) {
    .input-field-container{
        width: 90%;
    }
    .create-form-container{
        flex-direction: column;
    }
    .input-field-container{
        flex-direction: column;
    }
}