.create-form-container{
    width:100%;
    /* background-color:#6D07CB; */
    color: black;
    padding: 15px 0 15px 4px ;
}
.title{
    text-align: center;
}
.input-field-container{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: auto;
}
.create-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 25%;
    border-radius: 20px;
}
.inputs{
    border-bottom:.5px solid white !important;
    background-color: transparent;
    border:none;
    color: white !important;
    resize: none;
    outline: none;
}
.inputs::placeholder{
    color: white;
}