.mat-sidenav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mat-sidenav{
    width: 30%;
    background-color: #6D07CB;
    color: white;
}
.mat-sidenav-content{
    width: 100%;
    background-color: whitesmoke;
}
.main-toggle-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 240px;
    width: 210px; 
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #210838;
}
.side-toggle-button{
    position: absolute;
}
@media only screen and (max-width: 840px){
    .mat-sidenav{
        width: 100%;
    }
}